body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    width: 400px;
    margin: 80px auto;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #4facfe;
    color: white;
    padding: 10px;
    width: 95%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #007bff;
}

a {
    text-decoration: none;
    color: #007bff;
}
